
.latest-deals-container{
    display:flex;
    flex-direction:column;
    margin-top:0.5%;
    margin-bottom:0.6%;

}

.latest-deals-items-header{
  display:flex;
  flex-direction:row;
  background-color:#ffffff;
  color:black;
  margin-bottom:0.15%;
}

.latest-deals-title{
  display:flex;
  flex:1;
  justify-content: center;
}
  
.latest-deals-items-container{
  min-height:65vh;
  margin-left:auto;
  margin-right:auto;
  padding:0.25%;
  display:flex;
  flex-direction: column;
  background-color: #ffffff; 
}
  
.latest-deals-items{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-top:0.3%;
}