
.latest-deals-container{
  display:flex;
  flex-direction:column;
  margin-top:0.5%;
  margin-bottom:0.6%;

}

.latest-deals-items-header{
display:flex;
flex-direction:row;
/* justify-content:center; */
background-color:#ffffff;
color:black;
margin-bottom:0.15%;
}

.latest-deals-title{
  display:flex;
  flex-direction:row;
  flex: 1;
  background-color:#ffffff;
  color:black;
  margin-bottom:0.15%;
  justify-content: center;
}


.latest-deals-items-container{
min-height:65vh;
margin-left:auto;
margin-right:auto;
padding:0.25%;
display:flex;
flex-direction: column;
background-color: #ffffff; 
}

.latest-deals-items{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
margin-top:0.3%;
}

@media only screen  and (max-width: 910px){
  .latest-deals-title h3{
    width:100%;
   text-indent: 35%;
 }
 
 
}

@media only screen  and (max-width: 600px) {
    
    .latest-deals-title{
      justify-content: unset;
    }
    .latest-deals-title h3{
      text-indent: 31%;
    }
 

}
@media only screen  and (max-width: 500px) { 
  .latest-deals-title h3{
    text-indent: 27%;
  }

}

@media only screen  and (max-width: 414px) { 
  .latest-deals-title h3{
    text-indent: 20%;
   
  }

}