
.side-nav{
    /* border:1px solid black; */
    margin:0;
    padding:0;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top:10%;
    width:10%;
    background-color: #242729;
    height:100%;
    overflow: auto;
    z-index:0;
    margin-left:-0.2%;

}

.side-nav-item{
    width:100%;
     border:1px solid #242729;
       text-align: center;
       transition: all 0.3s ease;
}
.side-nav-text{
    width:100%;
    
}
.side-nav-item:hover {
  
    background-color: #2b2e30;
    color:#fff;
}
.side-nav-active{
    background-color: #2b2e30;
    border-bottom:1px solid rgb(218, 152, 218);

}
.side-nav a{
    display:block;
    color:rgb(218, 152, 218);
    padding: 16px;
    text-decoration: none;
    font-weight:bold;
    font-family:'acme';
}


.profile-image{
    display:flex;
    justify-content: center;
    /* border:1px solid white; */
    width:100%;
    margin:-5% 0 5% 0 ;
}

.profile-image img{
    border:2px solid #2f3133;
    position:relative;
    border-radius:50%;
}
