
.items-details{
    margin-top: 4px;
    width:90%;  
    margin-right: auto;
    margin-left: auto;
    padding:3%;

}

.items-details a{
  text-decoration: none;
  color:black;
}


@media only screen  and (max-width:414px){


}