
.search-content{
    position: fixed;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    top:18%;
    left:30%;
    height: 50%;
    overflow-y: scroll;
    z-index:1;
    background-color: #242729;
}
  .search-results{
    width:85%;
    margin:0.6%;
    margin-left:auto;
    margin-right:auto;
    color: white;
    color: rgb(218, 152, 218);
    padding:2%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    cursor: pointer;
    box-shadow:0  2px #38393a;
}

.search-results p{
    color:black;
}
