








.search-result-container{
    /* position: fixed;
    
    top: 20%;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index:1;
    overflow:auto; */
   

}
.search-content{
    position: fixed;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    top:18%;
    left:30%;
    height: 50%;
    overflow-y: scroll;
   
    z-index:1;
    background-color: #242729;

}
  .search-results{
    width:85%;
    margin:0.6%;
    margin-left:auto;
    margin-right:auto;
    color: white;
    color: rgb(218, 152, 218);
    /* color:#747474; */
    padding:2%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    cursor: pointer;
    box-shadow:0  2px #38393a;
}

.search-results p{
    color:black;
}
