
.contact-container{
    margin:2px;
    display: flex;
    flex-direction: column;
    padding:2px;
}
.contact-header{
    border:1px solid black;
    padding:4px;
}
.contact-body{
    display:flex;
    flex-direction:column;
    padding:4px;
}