
.popular-collections-container{
    display:flex;
    flex-direction:column;
    margin-top:0.5%;
    margin-bottom:0.6%;    
  }

.popular-collections-items-header{
    display:flex;
    flex:1;
    justify-content:center;
    background-color:#ffffff;
    color:black;
    margin-bottom:0.15%; 
}
.popular-collections-title{
    display:flex;
    flex:1;
    justify-content: center;
}

.popular-collections-items-container{
    min-height:65vh;
    padding:0.25%;
    display:flex;
    flex-direction: column;
    background-color:#ffffff;
}
  
.popular-collections-items{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top:0.3%;
}

@media only screen and (max-width: 910px){
    .popular-collections-title{
      
        justify-content: unset;
    }
   
    .popular-collections-title h3{
    width:100%;
    text-indent: 29.5%;
  }
  
   }
  
   @media only screen  and (max-width: 600px) {
      
    .popular-collections-title{
      justify-content: unset;
    }
    .popular-collections-title h3{
    width:100%;
    text-indent: 22%;
  }
  
  
  }
  @media only screen  and (max-width: 500px) { 
    .popular-collections-title{
      justify-content: unset;
    }
    .popular-collections-title h3{
    width:100%;
    text-indent: 19.5%;
  }
  
  }
  
  @media only screen  and (max-width: 414px) { 
    .popular-collections-title{
      justify-content: unset;
    }
    .popular-collections-title h3{
    width:100%;
    text-indent: 8%;
  }
  }