











  .see-all-items-picture{
    border:1px solid black;
    margin:2px;
    transition:all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .see-all-items-picture:hover{
    /* -webkit-box-shadow:0 0 5px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.6); */
    box-shadow:0 0 5px rgba(117, 116, 116, 0.6);

}  