








.view-main{
    display:flex;
    flex-direction:row;
    background-color:#ccc;
    flex-wrap:wrap;
    margin:4px;
    /* border:1px solid black; */
    height:400px;
  

}


.view-content{
    width:59.2%;
    display:flex;
    flex-direction:column;
    /* justify-content: space-around; */
    margin-top:2px;
    margin-bottom: 2px;
    /* border:1px solid black; */
    background-color:#ffffff;


}
.view-content p{
    font-weight:bold;
    text-align:center;
    color:rgb(218, 152, 218);
}
.view-button{
    display:flex;
    flex-direction: row;
    transition:all 0.5s ease-in-out;
    /* justify-content: space-between; */
}
.view-button button{
    width:200px;
    position:relative;
    left:82px;
    top:110px;
    background-color:rgb(218, 152, 218);
    transition:all 0.3s ease-in-out;
    border:none;
    color:#242729;
    font-weight: bold;
   
}
.view-button button:hover{
  
    background-color:rgb(218, 152, 218);
    cursor:pointer;
   
   
}
.view-button input{
    left:82px;
    top:110px;
    position: relative;
    width:80px;
    height:45px;
    /* transition:all 0.3s ease-in-out; */
    
  
}
.view-button input:focus{
    border:2px solid rgb(218, 152, 218);
}
.view-button input:hover{
    border:2px solid rgb(218, 152, 218);
}
.view-foot{
    height:200px;
    border:1px solid black;
    margin:4px;

}
.item-name{
    position:relative;
    top:40px;

}
.item-price{
    position:relative;
    top:60px;

}
.item-error{
    position:relative;
    top:80px;
    width:70%;
    margin-left:auto;
    margin-right: auto;
    border-radius: 4px;
    z-index:0;
   
    border:1px solid rgb(248, 197, 197);
    background-color:#f8d7da;
    color:rgb(121, 30, 30);

    animation-name:animatetop;
    animation-duration:1s;
   
}

@keyframes animatetop{
    from{
        right: -12px;
        opacity:0;
        transition:all;
    }
    to{
        right:0px;
        opacity:1;
        transition:all;
    }
}
@keyframes animateout{
    from{
        right: 0px;
        opacity:0;
        transition:all;
    }
    to{
        right:-400px;
        opacity:1;
        transition:all;
    }
}

.item-error p{
   
    /* position:relative;
    top:90px; */
    color:rgb(121, 30, 30);
    font-weight: normal;
   
}
.item-mssg-cont{
    position:relative;
    top:80px;
    width:70%;
    margin-left:auto;
    margin-right: auto;
    border-radius: 4px;
    z-index:0;
    border:1px solid rgb(248, 197, 197);
    background-color:#f8d7da;

    animation-name:animatetop;
    animation-duration:1s;

}
.item-mssg-cont p {
    color:rgb(121, 30, 30);
    font-weight: normal;
    

}






.view-back-bttn{
    
      margin-left:1%;
}

  .view-back-bttn button{
      height: 40px;
    border:none;
    cursor: pointer;
    background-color: rgb(218, 152, 218);
    color:#ffffff;
    margin-top:15%;
  
    
  
  }
  .view-back-bttn button:hover{
   
    cursor: pointer;
    text-decoration: underline;
    
  
  }

.view-container{
    display:flex;
    flex-direction:row;
    background-color:#ffffff;
    margin-top:0.5%;
    margin-bottom:0.6%;
    min-height: 70vh;
    /* border:1px solid black; */
  
}
.view-item-container{
    display:flex;
    flex-direction: column;
    
    width:60%;
    min-height:70vh;
    /* border:1px solid yellow; */
    box-shadow:0 0 3px rgba(117, 116, 116, 0.8);
    margin:1.4% 0 1.4% auto ;
    padding:4px; 
}
.view-item-alert{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    width:22%;
    /* border:1px solid red; */
    margin:1.4% 0 1.4% 1.5% ;
}

.view-info{
    display: flex;
    flex-direction: row;
    height:60vh;
    width:90%;
    /* border:1px solid purple; */
    /* box-shadow:0 0 0.5px rgba(117, 116, 116, 0.8); */
  margin: 9px;
  margin: 9px auto  9px auto;

}
.view-product-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px solid red; */
    width:45%;
    min-height:50vh;
    padding:1%;

}
.view-img{
    min-height: 50vh;
    /* border:1px solid black; */
}

.view-item-details-cntr{
    display:flex;
    flex-direction: column;
    /* border:1px solid black; */
    justify-content: center;
    margin-left: auto;
    width:50%;

}

.view-item-details{
    display:flex;
    flex-direction: column;
    justify-content: center;
   
    /* border:1px solid green; */
  
    margin:2%;
    /* margin:4px; */

}
.view-item-details span{
    font-weight: bold;
}


.view-item-size-contr{
    display:flex;
    flex-direction: column;
    /* border:1px solid rgb(202, 14, 124); */
    margin-top:0.5%;
    margin-bottom:0.6%;
    /* min-height: 5vh; */

}
.view-item-size-title{
    display:flex;
    justify-content: center;

}
.view-item-size-panel{
    display:flex;
    flex-direction: row;
    justify-content: center;
   
    margin-top:0.5%;
    margin-bottom:0.6%;

}
.view-item-size{
    /* border:1px solid black; */
    background-color:#ffffff;
    color:rgb(212, 108, 212);
    border:1px solid rgb(218, 152, 218);
    width:9%;
    text-align: center;
    padding:1.2%;
    margin:0.3%;
    transition:all 0.3s ease;
}
.view-item-size:hover{
    cursor: pointer;
    background-color: rgb(212, 108, 212);
    color:#ffffff;

}
.item-selected{
    /* border:1px solid rgb(212, 108, 212); */
    background-color:#292b2c;
    background-color: rgb(212, 108, 212);
    color:#ffffff;
    border:1px solid #ffffff;
}



.view-add-bttn{
    display:flex;
    flex-direction:column;
    width:100%;
    /* border:1px solid green; */
    margin-top:0.5%;
    margin-bottom:0.6%;
    min-height:20vh;


}
.view-add-bttn h4{
   margin-left:21%;
}
.view-add-section{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border:1px solid blue; */
    padding:3px;
    margin-top: auto;
    margin-bottom: auto;

}

.view-quantity{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
    margin-right: 0.3%;

}


.view-add-qty{
    display: flex;
    flex-direction: row;
    /* border:1px solid black;  */
    width: 100%;
}
.view-add-qty button{
    width:40%;
    height:50px;
    position:relative;
    background-color:rgb(218, 152, 218);
    transition:all 0.3s ease-in-out;
    border:none;
    color:#ffffff;
    font-weight: bold;
  

}
.view-add-qty button:hover{
    cursor: pointer;
    background-color: rgb(212, 108, 212);
   
   
}
.view-add-qty input[type=number]{
    width:20%;
    border:2px solid rgb(218, 152, 218);
    caret-color:rgb(218, 152, 218);
    -moz-appearance: textfield;
    appearance: textfield;
    margin:0;
    padding:6%;

}
.view-add-qty input[type=number]::-webkit-inner-spin-button,
.view-add-qty input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
   
}

.view-add-qty  input[type=number]:focus{
    outline:0;
  
   
}
.view-add-to-cart{
    width: 30%;
    /* border:1px solid red; */
    /* height:55px; */
    margin-top: auto;
    margin-bottom: auto;


}
.view-add-to-cart button{
    width:100%;
    height:50px;
    position:relative;
    background-color:rgb(218, 152, 218);
    transition:all 0.3s ease-in-out;
    border:none;
    color:#ffffff;
    font-weight: bold;
   
}
.view-add-to-cart button:hover{
    cursor: pointer;
    background-color: rgb(212, 108, 212);
   
   
}




.view-modal {
    display:flex;
    flex-direction: column;
    margin-bottom:10%;
    animation-name:animatefromside;
    animation-duration:0.9s;
}

.view-modal-main {
    display:flex;
    flex-direction: column;
    width:90%;
    margin-left: auto;
    margin-right: auto;
   
   
    border:1px solid rgb(248, 197, 197);
    border-radius:0 0 4% 4%;
    background-color:#ffebed;
}
.view-modal-header{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    padding:2px 14px;
    background-color:#f8d7da;
    border-bottom:1px solid rgb(248, 197, 197);  
}

.view-modal-content{
    color:rgb(121, 30, 30);   
}
.view-modal-content p{
    text-align:center;
}

  .view-modal-close{
    cursor:pointer;
    font-size:bold;
    margin-right:-2%;
    margin-top:-2%;
    color:rgb(121, 30, 30);
}


  @keyframes animatetfromside{
    from{
       left: -400px;
        opacity:0;
        transition:all;
    }
}

.display-block {
display: block;
}

.display-none {
display: none;
}






.view-modal-ok {
    display:flex;
    flex-direction: column;
    margin-bottom:10%;
    animation-name:animatefromside;
    animation-duration:0.9s;
}

.view-modal-ok-main {
    display:flex;
    flex-direction: column;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgb(172, 255, 172);
    border-radius:0 0 4% 4%;
    background-color:rgb(222, 253, 222);
}
.view-modal-ok-header{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    padding:2px 14px;
    background-color:rgb(206, 255, 206);
    border-bottom:1px solid rgb(172, 255, 172);  
}

.view-modal-ok-content{
    color:rgb(39, 129, 39);   
}
.view-modal-ok-content p{
    text-align:center;
}

  .view-modal-ok-close{
    cursor:pointer;
    font-size:bold;
    margin-right:-2%;
    margin-top:-2%;
    color:rgb(39, 129, 39); 
}


  @keyframes animatetfromside{
    from{
       left: -400px;
        opacity:0;
        transition:all;
    }
}

.display-block {
display: block;
}

.display-none {
display: none;
}







  /* @media screen and (max-width:600px){
    .modal-main {
      width:80%;
      top:25%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    .modal-content{
      margin-top:0%;
    }
    .modal-bttn button{
    height: 40px;
    }
} */
