








.view-main{
    display:flex;
    flex-direction:row;
    background-color:#ccc;
    flex-wrap:wrap;
    margin:4px;
    /* border:1px solid black; */
    height:400px;
  

}
.view-image{
    margin:2px;
    /* border:1px solid black; */
    width:40%;
    background-color:#ffffff;

}
.view-image img{
  
  position:relative;
  left:10%;
  top:5%;
}
.view-content{
    width:59.2%;
    display:flex;
    flex-direction:column;
    /* justify-content: space-around; */
    margin-top:2px;
    margin-bottom: 2px;
    /* border:1px solid black; */
    background-color:#ffffff;


}
.view-content p{
    font-weight:bold;
    text-align:center;
    color:rgb(218, 152, 218);
}
.view-button{
    display:flex;
    flex-direction: row;
    transition:all 0.5s ease-in-out;
    /* justify-content: space-between; */
}
.view-button button{
    width:200px;
    position:relative;
    left:82px;
    top:110px;
    background-color:rgb(218, 152, 218);
    transition:all 0.3s ease-in-out;
    border:none;
    color:#242729;
    font-weight: bold;
   
}
.view-button button:hover{
  
    background-color:rgb(218, 152, 218);
    cursor:pointer;
   
   
}
.view-button input{
    left:82px;
    top:110px;
    position: relative;
    width:80px;
    height:45px;
    /* transition:all 0.3s ease-in-out; */
    
  
}
.view-button input:focus{
    border:2px solid rgb(218, 152, 218);
}
.view-button input:hover{
    border:2px solid rgb(218, 152, 218);
}
.view-foot{
    height:200px;
    border:1px solid black;
    margin:4px;

}
.item-name{
    position:relative;
    top:40px;

}
.item-price{
    position:relative;
    top:60px;

}
.item-error{
    position:relative;
    top:80px;
    width:70%;
    margin-left:auto;
    margin-right: auto;
    border-radius: 4px;
    z-index:0;
   
    border:1px solid rgb(248, 197, 197);
    background-color:#f8d7da;

    animation-name:animatetop;
    animation-duration:1s;
   
}

@keyframes animatetop{
    from{
        right: -12px;
        opacity:0;
        transition:all;
    }
    to{
        right:0px;
        opacity:1;
        transition:all;
    }
}
@keyframes animateout{
    from{
        right: 0px;
        opacity:0;
        transition:all;
    }
    to{
        right:-400px;
        opacity:1;
        transition:all;
    }
}

.item-error p{
   
    /* position:relative;
    top:90px; */
    color:rgb(121, 30, 30);
    font-weight: normal;
   
}
.item-mssg-cont{
    position:relative;
    top:80px;
    width:70%;
    margin-left:auto;
    margin-right: auto;
    border-radius: 4px;
    z-index:0;
    border:1px solid rgb(248, 197, 197);
    background-color:#f8d7da;

    animation-name:animatetop;
    animation-duration:1s;

}
.item-mssg-cont p {
    color:rgb(121, 30, 30);
    font-weight: normal;
    

}








.view-container{
    display:flex;
    flex-direction:column;
    background-color:#ffffff;
    margin-top:0.5%;
    margin-bottom:0.6%;
    min-height: 70vh;
    /* border:1px solid black; */
  
}
.view-item-container{
    display:flex;
    flex-direction: column;
    width:60%;
    min-height:70vh;
    /* border:1px solid yellow; */
    box-shadow:0 0 3px rgba(117, 116, 116, 0.8);
    margin:1.4% auto 1.4% auto ;
    padding:4px; 
}

.view-info{
    display: flex;
    flex-direction: row;
    /* width:100%; */
    border:1px solid purple;
  margin: 9px;

}
.view-product-img{
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
    width:50%;
    min-height:50vh;
    padding:1%;

}
.view-img{
    min-height: 50vh;
    /* border:1px solid black; */
}
.thumbnails{
    min-height:10vh;
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top:2%;
    /* border:1px solid black; */

}
.view-item-details-cntr{
    display:flex;
    flex-direction: column;
    /* border:1px solid black; */
    justify-content: center;
    width:50%;

}

.view-item-details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px solid green; */
  
    margin:2%;
    /* margin:4px; */

}


.view-item-size-contr{
    display:flex;
    flex-direction: column;
    /* border:1px solid rgb(202, 14, 124); */
    margin-top:0.5%;
    margin-bottom:0.6%;
    /* min-height: 5vh; */

}
.view-item-size-title{
    display:flex;
    justify-content: center;

}
.view-item-size-panel{
    display:flex;
    flex-direction: row;
    justify-content: center;
   
    margin-top:0.5%;
    margin-bottom:0.6%;

}
.view-item-size{
    /* border:1px solid black; */
    background-color:rgb(218, 152, 218);
    color:#ffffff;
    width:10%;
    text-align: center;
    padding:1.2%;
    margin:0.3%;
    transition:all 0.3s ease;
}
.view-item-size:hover{
    cursor: pointer;
    background-color: rgb(212, 108, 212);

}


.view-add-bttn{
    display:flex;
    flex-direction:column;
    width:100%;
    /* border:1px solid green; */
    margin-top:0.5%;
    margin-bottom:0.6%;
    min-height:20vh;


}
.view-add-bttn h4{
   margin-left:21%;
}
.view-add-section{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border:1px solid blue; */
    padding:3px;
    margin-top: auto;
    margin-bottom: auto;

}

.view-quantity{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
    margin-right: 0.3%;

}


.view-add-qty{
    display: flex;
    flex-direction: row;
    /* border:1px solid black;  */
    width: 100%;
}
.view-add-qty button{
    width:40%;
    height:50px;
    position:relative;
    background-color:rgb(218, 152, 218);
    transition:all 0.3s ease-in-out;
    border:none;
    color:#ffffff;
    font-weight: bold;
  

}
.view-add-qty button:hover{
    cursor: pointer;
    background-color: rgb(212, 108, 212);
   
   
}
.view-add-qty input{
    width:20%;
    border:2px solid rgb(218, 152, 218);
    caret-color:rgb(218, 152, 218);

}
.view-add-qty input:focus{
    outline:0;
  
   
}
.view-add-to-cart{
    width: 30%;
    /* border:1px solid red; */
    /* height:55px; */
    margin-top: auto;
    margin-bottom: auto;


}
.view-add-to-cart button{
    width:100%;
    height:50px;
    position:relative;
    background-color:rgb(218, 152, 218);
    transition:all 0.3s ease-in-out;
    border:none;
    color:#ffffff;
    font-weight: bold;
   
}
.view-add-to-cart button:hover{
    cursor: pointer;
    background-color: rgb(212, 108, 212);
   
   
}