
footer{
    display:flex;
    flex-direction: column;
    background-color:#242729;
    min-height: 87vh;
     z-index:1;
}
.dashboard-footer {
    margin-left:9.8%;
    display:flex;  
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#242729;
    position:relative;
    min-height: 87vh;
    border-left:1px solid #2f3133;
    z-index:0;
}

footer a {
    text-decoration: none;
    color: rgb(218, 152, 218);
    font-size:0.9em;
    font-weight: bold;
    font-family: 'acme';
}
 footer a:hover {
    text-decoration: underline;
}
footer li{
    list-style-type: none;
}
.ft-title{
    color: rgb(218, 152, 218);
}

.footer-main{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top:50px;
}
.ft-main-item {
  width:12%;
}
.ft-main-links{
    width:98%;
    margin-left: auto;
}
.ft-main-item li{
    width:100%;
}
.footer-legal{
    margin-top:12%;
    padding: 0.8%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-bottom:1px solid #2f3133;
    border-top:1px solid #2f3133;
    color: rgb(218, 152, 218);
}

.footer-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.footer-legal-list :nth-last-child(1){
  margin-right: 10px;
}

.footer-legal-list a{
    color: rgb(218, 152, 218);
}

.footer-main-content{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#242729;
    border-bottom:1px solid #38393a;
    padding:4px;
    color:white;
    min-height:20vh;
}

.footer-form{
    width:28%; 
}
.footer-form form{
    /* border: 1px solid white; */
    padding: 0.2rem;
    display:flex;
    justify-content: center;  
}

.footer-form p{
    color: rgb(218, 152, 218);
    font-size: 0.9em;
    text-align: center;
}

.footer-form form input[type="text"] {
    padding: 0.625rem;
    color: rgb(218, 152, 218);
    border-radius:5px;
    width:70%;
    height:40px;
    background-color: #242729;
    border: 1px solid #505152;
    transition:all 0.5s ease-in-out;
    font-size:0.9em;
    font-weight:bold;
    font-family:'abel';
}

.footer-form form input[type="text"].not-empty,
.footer-form form input[type="text"]:focus {
    font-family:'abel';
    color: rgb(218, 152, 218);
    background-color: #242729;
    border:1px solid rgb(218, 152, 218) ;
    outline: none;
}

.footer-form form button {
    height:40px;
    color: rgb(218, 152, 218);
    border-radius:5px;
    cursor: pointer;
    border:0px;
    transition:all 0.4s ease-in-out;
    font-weight:bold;
    margin-left:4px;
    background-color: #242729;
    border: 1px solid #505152;
}

.footer-form form button:hover{
    transform:scale(1.05) ;
    border:1px solid rgb(218, 152, 218);
}

.sub-err-cont p{
    font-size:0.8em;
    color:rgb(248, 10, 10);
    animation-name:animatetop;
    animation-duration:2s;
}

@keyframes animatetop{
    from{
        right: -12px;
        opacity:0;
        transition:all;
    }
    to{
        right:0px;
        opacity:1;
        transition:all;
    }
}

@media only screen  and (max-width: 910px) {

    .ft-main-item {
      width:40%;
      /* border:1px solid white; */
    }
    .ft-title{
        color: rgb(218, 152, 218);
        position: relative;
        text-align: center;
    }
    .ft-main-links{
        width:50%;
        margin-left: unset;
        position: relative;
        left:35%; 
    }

    .footer-legal{
        margin-top:2%;
        padding: 3%;
    }
    
    .footer-legal-list {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        /* border:1px solid yellow; */
        width: 100%;
    }

    .footer-legal-list li{
        width: 50%;
        text-align: center;
    }
    .footer-legal-list :nth-last-child(1){
        margin-right: 0;
    }

    .footer-form{
        margin-top:2%;
        border-top:1px solid #38393a;
        width:100%;
    }

    .footer-form form{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-form p{
        color: rgb(218, 152, 218);
        font-size: 0.9em;
        text-align: center;
    }

    .footer-form form input[type="text"] {
        margin-left:2%;
    }

    .footer-form form button {
        margin-left:2%;
    }    
}

@media only screen  and (max-width: 600px) {
    .footer-main-content{
        border-bottom:none;
        padding:4px;
    }
    .footer-main{
        margin-top:4%;
        border-top:1px solid #38393a;
    }
    
    .ft-main-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border:1px solid white; */
        align-self: flex-start;
      width:40%;
    }

    .ft-title{
        color: rgb(218, 152, 218);
        /* border:1px solid white; */
        position: relative;
        text-align: center;
    }
    .ft-main-links{
        width:50%;
        margin-left: unset;
        position: relative;
        left:30%; 
    }

    .footer-legal{
        margin-top:2%;
        padding: 3%;
    }
    
    .footer-legal-list {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        /* border:1px solid yellow; */
        width: 80%;
        margin-left: 4%;
    }
    .footer-legal-list li{
        width: 100%;
        /* border:1px solid red; */
    }

    .footer-legal-list :nth-last-child(1){
        margin-right: 0;
    }

    .footer-form{
        /* border:1px solid red; */
        margin-top:2%;
        border-top:1px solid #38393a;
        width:100%;
    }

    .footer-form p{
        color: rgb(218, 152, 218);
        font-size: 0.9em;
        /* border:1px solid red; */
        text-align: center;
    }

    .footer-form form input[type="text"] {
        margin-left:2%;
    }

    .footer-form form button {
        margin-left:2%;
    } 
}

@media only screen and (max-width:414px) {
     
}

@media only screen and (max-width:360px) {
   
}

@media only screen and (max-width:305px) {

}