
footer{
    display:flex;
    flex-direction: column;
    background-color:#242729;
    min-height: 87vh;
     z-index:1;

}
.dashboard-footer {
    margin-left:9.8%;
    display:flex;  
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#242729;
    position:relative;
    min-height: 87vh;
    border-left:1px solid #2f3133;
    z-index:0;
}

footer a {
    text-decoration: none;
    color: rgb(218, 152, 218);
    font-size:0.9em;
    font-weight: bold;
    font-family: 'acme';
}
 footer a:hover {
    text-decoration: underline;
}
footer li{
    list-style-type: none;
}
.ft-title{
    color: rgb(218, 152, 218);
}

.footer-main{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top:50px;
}
.ft-main-item {
  /* border:1px solid white; */
  width:12%;
  /* padding:3px; */
}
.ft-main-links{
    /* border:1px solid red; */
    width:98%;
    margin-left: auto;
    

}
.ft-main-item li{
    width:100%;
    /* text-align: center;   */
}
.footer-legal{
    margin-top:120px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-bottom:1px solid #2f3133;
    border-top:1px solid #2f3133;
    color: rgb(218, 152, 218);
}

.footer-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.footer-legal-list :nth-last-child(1){
  margin-right: 10px;
}

.footer-legal-list a{
    color: rgb(218, 152, 218);
}

.footer-main-content{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#242729;
    border-bottom:1px solid #38393a;
    padding:4px;
    color:white;
    min-height:20vh;
}

/* .footer-form{
    
} */

.footer-form p{
    color: rgb(218, 152, 218);
    font-size: 0.9em;
}

.footer-form form input[type="text"] {
    padding: 0.625rem;
    margin-top: 0.3125rem;
    color: rgb(218, 152, 218);
    border-radius:5px;
    width:250px;
    height:40px;
    background-color: #242729;
    border: 1px solid #505152;
    transition:all 0.5s ease-in-out;
    font-size:0.9em;
    font-weight:bold;
    font-family:'abel';
}

.footer-form form input[type="text"].not-empty,
.footer-form form input[type="text"]:focus {
    font-family:'abel';
    color: rgb(218, 152, 218);
    background-color: #242729;
    border:1px solid rgb(218, 152, 218) ;
    outline: none;
}

.footer-form form button {
    height:40px;
    color: rgb(218, 152, 218);
    border-radius:5px;
    cursor: pointer;
    border:0px;
    transition:all 0.4s ease-in-out;
    font-weight:bold;
    margin-left:4px;
    background-color: #242729;
    border: 1px solid #505152;
}

.footer-form form button:hover{
    transform:scale(1.05) ;
    border:1px solid rgb(218, 152, 218);
}

.sub-err-cont p{
    font-size:0.8em;
    color:rgb(248, 10, 10);
    animation-name:animatetop;
    animation-duration:2s;
}

@keyframes animatetop{
    from{
        right: -12px;
        opacity:0;
        transition:all;
    }
    to{
        right:0px;
        opacity:1;
        transition:all;
    }
}