








.cart-container{
     display:flex; 
    flex-direction:row; 
    background-color: #ffffff;
    min-height: 70vh;
    margin:6px;
}

.div1{ 
    width:29%; 
    min-height: 40vh;   
}

.div3{ 
    width:29%; 
    min-height: 40vh;   
}
.cart{
    min-height: 40vh;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    margin-top:20px;
    margin-bottom:20px;
    box-shadow:0 0 5px rgba(117, 116, 116, 0.8);
    background-repeat: no-repeat;
    background-position:center; 
}
.cart-header{
    display:flex;
    flex-direction:row;
    background-color: #ffffff;
  
}
.cart-title{
    display:flex;
    flex:1;
    text-align: center;
}

.cart-refresh{
   position:relative;
   margin-right:1%;
}
.cart-refresh button{   
    border:0;
    background-color:#fff;
    font-size: 1em;
    font-family:'acme';
    margin-top:20%;
    color:rgb(218, 152, 218);
}
.cart-refresh button:hover{
    cursor:pointer;
    text-decoration: underline;
}

.cart-body{
    background-color: #ffffff;
    margin:4px ;
}

.cart-body h2{
    color:#ccc;
    margin:6px;
    font-size: 1.3em;
    font-family:'acme';
     color:rgb(230, 230, 230); 
}
.cart-title h3{
    color: rgb(218, 152, 218);
    margin:6px;
    border-radius: 4px;
    padding:6px;
    margin-right: 25%;
    margin-left:auto; 
}


.cart-warning{
    text-align: center;
}

.cart-button{
    width:50%;  
    margin-right: auto;
    margin-left: auto;
    position:relative;
    margin-top:8%;
}

.cart-body button{
    width:100%;  
    height: 45px;
    border:0;
    background-color: rgb(218, 152, 218);
    font-size: 1em;
    font-family:'acme';
    font-weight: bold;
    position: relative;
    color:#ffffff;
    transition:all 0.3s ease-in-out;
}

.cart-body button:hover{
    cursor:pointer;
    background-color: rgb(212, 108, 212);
}

.cart-body button a{
    text-decoration:none;
    color:#ffffff;
    font-family:'acme'; 
}

.cart-img{
    background-color: rgb(230, 230, 230);
    width:50%;
    height:250px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}

.cart-img img{
    position: relative;
    margin-top: 10%;
    width:80%;
    height:80%;
}

.cart-loader{
    min-height:40vh;
    background-color: #ffffff;
}

.cart-loader p{
    text-align:center;
    font-weight: bold;
    color:rgb(212, 108, 212);
}

@media only screen and (max-width:414px){
    .cart-title{
        width:80%;
    }
    .cart-img {      
        width:80%;
        height: 280px;
    }
    .cart-img img{
        top:25px;
    }
}

@media only screen and (max-width:360px){
    .cart-img {      
        width:80%;
        height: 250px;
    }
    .cart-img img{
        top:25px;
    }
}

@media only screen and (max-width:305px){
    .cart-img {      
        width:80%;
        height: 235px;
    }
    .cart-img img{
        top:25px;
    }
}