
.full-cart-container{
    background-color: #ffffff;
    min-height: 50vh; 
    margin:6px;
}

.full-cart{
    display:flex;
    flex-direction: column;
    min-height:50vh;
    width:45%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    margin-top:2%;
    margin-bottom:2%;
    
}

.full-cart-header{
    background-color: #ffffff;
    text-align: center;
}

.full-cart-title {
    color: rgb(218, 152, 218);
    margin:6px;
    border-radius: 4px;
    padding:6px;
    height:45px;
    margin-right: auto;
    margin-left:auto;
}

.full-cart-body{
    display:flex;
    flex-direction:column;
    background-color: #ffffff;
}

.full-cart-body h2{
    color:#ccc;
    margin:6px;
    font-size: 1.3em;
    font-family:'acme';
}

.card-body{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin:3% 3% 0 3%;
    padding:8px;  
    box-shadow:0 0 3px rgba(117, 116, 116, 0.8);
}

.card-item-image{
    width:50%;
    min-height:50vh;
}

.card-item-details{
    width:50%;
    min-height:50vh;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding:8px;
}

.card-item-text{
    display:flex;
    flex-direction:column;
  
    width:100%;
}

.card-item-text span{
    font-weight: bold;
}

.card-remove-button{
    display:flex;
    width:100%;
}
.card-remove-button button{
    margin-top:auto;
    width:80%;  
    height: 45px;
    border:0;
    background-color: #eff0ef;
    color: rgb(218, 152, 218);
    font-size: 1em;
    font-family:'acme';
    font-weight: bold; 
    margin-right: auto;
     transition:all 0.3s ease;
     border-radius: 4px;
}
.card-remove-button button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.full-cart-total{
    display:flex;
    flex-direction:column;
}

.cart-btn-ctnr{
    display:flex;
    flex-direction: row;
    width:100%;   
}

.full-cart-total button{
    width:100%;  
    height: 50px;
    border:0;
    background-color: rgb(218, 152, 218);
    color: #ffffff;
    font-size: 1em;
    font-family:'acme';
    font-weight: bold;
    transition:all 0.3s ease;  
}
.full-cart-button{
    margin:6px;
    width:40%;  
    margin-left:auto;
    margin-right:auto;
}
.full-cart-button .clear-cart-btn{
    border: 1px solid rgb(218, 152, 218);
    background-color: #ffffff;
    color: rgb(218, 152, 218);
    transition:all 0.3s ease;
}
.full-cart-button .clear-cart-btn:hover{
    border:none;
    background-color: rgb(212, 108, 212);
    color: #ffffff;
}
.full-cart-button button:hover{
    cursor: pointer;
    border:none;
    background-color: rgb(212, 108, 212);
    color: #ffffff;
}

.full-cart-body button a{
    text-decoration:none;
    color:#ffffff;
    font-family:'acme';   
}
.total-header{
    text-align:center;
}
.total-header span{
    font-weight: bold;
}
.card-add-button{
    display: flex;
    flex-direction: row;
    margin-bottom: -2%; 
    width: 80%;
    margin-right: auto;
}
.card-add-button button{
    width:50%;  
    height:45px;
    position:relative;
    transition:all 0.3s ease-in-out;
    border:none;
    background-color:#ffffff;
    color:rgb(218, 152, 218);
    border:1px solid rgb(218, 152, 218);
    font-weight: bold;
}
.card-add-button button:first-child{
    border-right: 0;
}
.card-add-button button:last-child{
    background-color: rgb(218, 152, 218);
    color:#ffffff;
}
.card-add-button button:hover{
    cursor: pointer;
    color:#ffffff;
    background-color: rgb(212, 108, 212); 
}



@media only screen  and (max-width: 910px) {
    .full-cart{
        width:60%;
        margin-top:2%;
        margin-bottom:2%;
    }
    .card-item-image{
        min-height:55vh;
        display:flex;
        margin-top:auto;
        margin-bottom:auto;
    }
    .card-item-image img{
        height:auto;
    }
    .card-remove-button button{
        margin-top:auto;
        width:100%;
    }
    .card-add-button{
        margin-bottom: 2%; 
        width: 100%;
    }
}

@media only screen  and (max-width: 600px) {  
    .full-cart{
        width:90%;
        margin-top:2%;
        margin-bottom:2%;
    }
    .card-item-image{
        display:flex;
        margin-top:auto;
        margin-bottom:auto;
    }
    .card-remove-button button{
        margin-top:auto;
        width:100%;
    }
    .card-add-button{
        margin-bottom: 2%; 
        width: 100%;
    }
}

@media only screen and (max-width:414px){
    .card-body{
        margin:3% 2% 0 2%;
        padding:4px;  
    }
    .card-item-image{
        width:52%;
    }
    
    .card-item-details{
        width:48%;
    }
    .card-item-image{
        min-height:55vh;
        margin-top:auto;
        margin-bottom:auto;
    }
    .full-cart-title{
        width:80%;
    }
}
@media only screen and (max-width:360px){
    .full-cart{
        width:98%;   
    }  
}
@media only screen and (max-width:305px){
    .card-add-button{
        flex-direction: column;
        width: 100%;
    }
    .card-add-button button{
        width:100%;  
    }
    .card-add-button button:first-child{
        border-right: 1px solid rgb(218, 152, 218);
    }
    .full-cart{
        width:100%;
    }
    .card-item-image{
        min-height:55vh;
        margin-top:auto;
        margin-bottom:auto;
    }
   
}