
.mobile-search{
    display:none;
}
.slider-container{
    margin:2px;
    background-color: #ffffff;
    height:381px;
    margin:9px;
    border-radius:4px;
}
.bread-crumb{
    display:flex;
    flex-direction: row;
    margin:9px;
}
.bread-crumb-links{
    border-radius:4px;
    height:67px;
    width:312px;
    margin:5px;
    cursor: pointer;
    background-color:#ffffff;
}

/* these styles are for the normal flickity component */
.gallery{
    background: #EEE;
}

.gallery-cell{
    width:66%;
    height:200px;
    margin-right: 10px;
    background: #8c8;
    counter-increment: gallery-cell;
}
.gallery-cell:before{
    display:block;
    text-align: center;
    content:counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color:white;
}

@media only screen  and (max-width:414px){
    .mobile-search{
        display:inline-flex;
        margin-top: 3px;
    }
    .mobile-search input[type="search"]{
        font-size:0.99em;
        font-weight: bold;
        text-transform:lowercase;
        background-color:white;
        padding:3px;
        height:35px;
        width:95%;
        color:rgb(0, 0, 0);
        border-radius:3px;
        margin-right:-2px;
        margin-left:4px;
        border-top: 1px solid rgb(160, 158, 158);
        border-right: none;
        border-bottom:1px solid rgb(160, 158, 158);
        border-left:  1px solid rgb(160, 158, 158);
        transition:all 0.5s ease-in-out;
        font-family: 'abel';
    }
    .mobile-search input[type="search"]:focus{
        font-family:'abel';
        color: rgb(218, 152, 218);
        outline: none;
    }

    .mobile-search-icon{
        padding:3px;
        height:35px;
        border-left: none;
        border-top: 1px solid rgb(160, 158, 158);
        border-left: none;
        border-right:  1px solid rgb(160, 158, 158);
        border-bottom:  1px solid rgb(160, 158, 158);
        font-size:0.9em;
        border-radius:0 4px 4px 0;
        margin-right:5px;
        cursor:pointer;
        background-color:white;
        left:320px;
    }
    .mobile-search-icon i{
        color:grey;
        position: relative;
        top:4px;
        padding:3px;
    }
}