

.checkout-container{
    display:flex; 
    flex-direction:column; 
    background-color: #ffffff;
    min-height: 120vh;
    margin:6px;
}
.checkout{
    display:flex;
    flex-direction: column;
    min-height: 75vh;
    width:45%;
    margin: 2% auto 2% auto;
    /* box-shadow:0 0 5px rgba(117, 116, 116, 0.8); */
}
.checkout-title{
    color: rgb(218, 152, 218);
    text-align: center;
}
.checkout-title h2 {
    color: rgb(218, 152, 218);
    margin:6px;
    border-radius: 4px;
    padding:6px;
    height:45px;
    margin-right: auto;
    margin-left:auto;
}

.checkout-item-container{
    margin:3% 3% 0 3%;
    padding:8px; 
    box-shadow:0 0 2px rgba(117, 116, 116, 0.8);
}

.checkout-item-panel{
    display:flex;
    flex-direction: row;
}

.checkout-item-image{
    width:50%;
    min-height:50vh;
}

.checkout-product{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:8px;
    width: 50%;
    min-height:50vh;
    padding:0 0 4% 2%;
}

.checkout-product span{
    font-weight:bold; 
}

.checkout-total{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:8px;
}
.checkout-total span{
    font-weight:bold;  
}

.checkout-btn{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.full-checkout-button{
    width:40%;
    margin:5%;
}

.full-checkout-button button{
    height:45px;
    width:100%;
    border:0;
    background-color: rgb(218, 152, 218);
    color: #ffffff;
    font-size: 1em;
    font-family:'acme';
    font-weight: bold;
    cursor:pointer;
}
.full-checkout-button .cancel-btn{
    border: 1px solid rgb(218, 152, 218);
    background-color: #ffffff;
    color: rgb(218, 152, 218);
    transition:all 0.3s ease;
}
.full-checkout-button .cancel-btn:hover{
    border:none;
    background-color: rgb(212, 108, 212);
    color: #ffffff;
}
.full-checkout-button button:hover{
    background-color: rgb(212, 108, 212); 
}


@media only screen  and (max-width: 910px) {
    .checkout{
        width:60%;
        margin: 2% auto 2% auto;
    }  
}

@media only screen  and (max-width: 600px) {
    .checkout{
        width:85%;
        margin: 2% auto 2% auto;
    }
}

@media only screen and (max-width:414px) {
    .checkout{
        width:95%;
    } 
}

@media only screen and (max-width:360px) {
    .checkout{
        width:100%;
    }
   
}

@media only screen and (max-width:305px) {
   
}