
.form-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    /* border:1px solid green; */
}
.form-password{
    display:flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width:100%;
    /* border:1px solid green; */

}
.form-password .err-mssg {
    width:99%;
    margin-left:auto;
    /* text-align: center; */
}

.signup-err-cont{
    border:1px solid rgb(248, 197, 197);
    width:25%;
    margin-left:auto;
    margin-right: auto;
    margin-top:4px;
    border-radius: 4px;
    text-align:center;
    background-color:#f8d7da;
    color:rgb(121, 30, 30);
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;  
}

.signup-err1{
    text-align:center;
}
.signup-err{
    color:rgb(173, 30, 30);
    /* border:1px solid green; */
    width:100%;
}
.err-mssg{
    /* border:1px solid yellow; */
    display:flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:4px;
    background-color:#ffffff;
    padding:4px;
    min-height: 90vh;
}

.signup-form-panel{
    display:flex;
    flex-direction:column;
    width:45%;
    min-height:55vh;
    margin-left:auto;
    margin-right: auto;
    position:relative;
    box-shadow:0 0 3px rgba(117, 116, 116, 0.6);
    background-color: #ffffff;
}

.signup-form-panel-head{
    margin-bottom:2px;
    background-color:#ffffff;
    text-align: center;
    color:rgb(218, 152, 218);
}

.signup-form-panel-body{
    min-height:55vh;
    margin:2px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
}

.signup-form-panel-body form{
    width:90%;
}
.signup-form-group-container{
    width:45%;
    /* border:2px solid green; */
    margin-top:auto;
    margin-bottom: 1%;
}

.signup-form-group{
    position: relative;
    font-size: 0.95em;
    padding-top: 2%;
    margin-bottom:5%;
    width:100%;
    --transition-duration:0.3s;
    --draw-color:#222;
    --draw-line-width:2px;
    --draw-easing:linear;
    /* border:2px solid black; */
}

.signup-form-group input{
    appearance: none;
    -webkit-appearance:none;
    -moz-appearance: none;
    padding:12px;
    border-radius: 3px;
    outline:none;
    width:100%;
    height:49px;
    font-size: 0.95em;
    font-family: 'acme';
    font-weight: bold;
    margin-top:0.8%;
    border:2px solid rgb(201, 200, 200);
    transition: border-color 0.3s ease;
}

.signup-form-group .placeholder{
    position: absolute;
    left: 3%;
    top: calc(60% );
    transform: translateY(-50%);
    color:#aaa;
    transition: 
    top var(  --transition-duration)  ease,
    font-size var(  --transition-duration)   ease,
    color var(  --transition-duration) ease;  
}

.signup-form-group input.not-empty + .placeholder,
.signup-form-group input:focus + .placeholder{
    top:19%;
    font-size: 11.5px;
    color:#222;
    background:#fff;  
}

.signup-form-group input.not-empty + .placeholder,
.signup-form-group input:hover + .placeholder{
  cursor: text;
}

.signup-form-group input::placeholder{
     color:#222;
     transition:all 0.3s ease;
}

.signup-form-group input:focus::placeholder{
    color:transparent;
}

.signup-form-group input.not-empty,
.signup-form-group input:focus{
    border-color:#222 ;
    transition-delay: 0.1s;
    background-color: #fff;   
}
.signup-form-group input + .placeholder{
    padding:0 5px   
}

.signup-bttn{
    width:50%;
    margin-left:auto;  
    margin-right:auto; 
    margin-top:5%;
    margin-bottom:5%;  
}

.signup-form-panel button{
    width:100%;
    height: 45px;
    border:0;
    background-color: rgb(218, 152, 218);
    position: relative;
    font-weight: bold;
    transition:all 0.3s ease;
    font-size: 1em;
    font-family:'acme';
    color:#ffffff;
}
.signup-form-panel button:hover{
    background-color:#292b2c;
    color:rgb(218, 152, 218);
    cursor:pointer;
}

@media only screen  and (max-width:910px){
    .signup-form-container{
        margin-top: auto;
        margin-bottom: auto; 
        /* border:1px solid black; */
    }
    .signup-form-panel{       
        width:60%;         
    }
}
@media only screen  and (max-width: 600px) {
    .form-password .err-mssg {
        width:97%;
       
    }
    .column{
        flex-direction: column;
    }
    .mobile{
        width:95%;
        margin-left: auto;
        margin-right:auto;
    }

    .signup-err-cont{       
        width:80%;
    }
    .signup-form-container{   
        min-height: 65vh;       
     }
    .signup-form-panel{       
        width:90%; 
        /* border:1px solid black; */
        margin: 5% auto 5% auto;          
    }
    .signup-form-panel-body form{
        width:100%;
    }
    .signup-form-group{ 
        font-size: 0.95em;
        padding-top: 2%;
        margin-bottom:5%;
        width:100%;
    }
    .signup-bttn{
        width:90%; 
        margin-bottom:5%;
    }
    .signup-form-panel button{
        border-radius: 4px;            
    }
}

@media only screen  and (max-width:414px){
    .signup-form-container{   
        min-height: 65vh;       
     }
     .signup-form-panel{       
         width:90%;       
     }
     .signup-form-group input{
         width:95%;
         height:45px;  
         margin-left:5px;       
     }
   
     .signup-form-panel button{
         width:100%;
         border-radius: 4px;            
     }
     .err-mssg{
        /* border:1px solid yellow; */
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
     .signup-err{
        color:rgb(173, 30, 30);
        /* border:1px solid green; */
        width:95%;
       
    }
}