





.form-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* border:1px solid black; */
    width:100%;
}

.signup-err-cont{

    border:1px solid rgb(248, 197, 197);
    width:25%;
    /* height:40px; */
    margin-left:auto;
    /* padding:16px; */
    margin-right: auto;
    margin-top:4px;
    border-radius: 4px;
    /* box-shadow:0 0 5px rgba(117, 116, 116, 0.6); */
    text-align:center;
    background-color:#f8d7da;
    color:rgb(121, 30, 30);

    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight:bold; */

}
.signup-err{
    text-align:center;

}



.signup-form-container{
    display:flex;
    flex-direction:column;
    margin:4px;
    background-color:#ffffff;
    /* background-color: #ccc; */
    padding:4px;
    min-height: 50vh;
}
.signup-form-panel{
    /* border:1px solid black; */
    display:flex;
    flex-direction:column;
    width:45%;
    min-height:55vh;
    margin-left:auto;
    margin-right: auto;
    position:relative;
    margin-top:3%;
    margin-bottom:40px;
    box-shadow:0 0 5px rgba(117, 116, 116, 0.6);
    background-color: #ffffff;
      /* border:1px solid black; */
}
.signup-form-panel-head{
    margin-bottom:2px;
    /* border:1px solid black; */
    background-color:#ffffff;
    text-align: center;
    color:rgb(218, 152, 218);

}
.signup-form-panel-body{
    min-height:55vh;
    margin:2px;
    /* border:1px solid black; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#ffffff

}
.signup-form-panel-body form{
    /* border:1px solid black; */
    width:90%;
  

}
.signup-form-group{
    position: relative;
    font-size: 0.95em;
    padding-top: 2%;
    /* margin-top:5%; */
    margin-bottom:5%;
    /* border:1px solid red; */
    width:40%;
    --transition-duration:0.3s;
    --draw-color:#222;
    --draw-line-width:2px;
    --draw-easing:linear;
}

.signup-form-group input{
  
  
    appearance: none;
    -webkit-appearance:none;
    -moz-appearance: none;
    /* background:#f2f2f2; */
    padding:12px;
    border-radius: 3px;
    outline:none;
    width:100%;
    height:49px;
    font-size: 0.95em;
    font-family: 'acme';
    font-weight: bold;
    margin-top:0.8%;
    /* border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:none; */
    border:2px solid rgb(201, 200, 200);
    transition: border-color 0.3s ease;

   

}

.signup-form-group .placeholder{
    
    position: absolute;
    left: 2%;
    top: calc(60% );
    transform: translateY(-50%);
    color:#aaa;
    transition: 
    top var(  --transition-duration)  ease,
    font-size var(  --transition-duration)   ease,
    color var(  --transition-duration) ease;
    
}
.signup-form-group input.not-empty + .placeholder,
.signup-form-group input:focus + .placeholder{
    top:19%;
    font-size: 11.5px;
    color:#222;
    /* color:rgb(218, 152, 218); */
    background:#fff;
    
    
}
.signup-form-group input.not-empty + .placeholder,
.signup-form-group input:hover + .placeholder{
  cursor: text;
}
.signup-form-group input::placeholder{
     color:#222;
     transition:all 0.3s ease;
}
.signup-form-group input:focus::placeholder{
    color:transparent;
}

.signup-form-group input.not-empty,
.signup-form-group input:focus{
    border-color:#222 ;
    transition-delay: 0.1s;
   background-color: #fff;
    
}
.signup-form-group input + .placeholder{
    padding:0 5px
    
}


/* .signup-form-group input:focus{
    outline:none;
    border-bottom:2px solid rgb(218, 152, 218);

}
.signup-form-group input:hover{
    border-bottom:2px solid rgb(218, 152, 218);

} */
.signup-bttn{
     /* border:1px solid black; */
     width:50%;
       margin-left:auto;  
        margin-right:auto; 
        margin-top:5% 
    
}
.signup-form-panel button{
    width:100%;
    height: 45px;
    border:0;
    background-color: rgb(218, 152, 218);
    position: relative;
    font-weight: bold;
    transition:all 0.3s ease;
    font-size: 1em;
    font-family:'acme';
    color:#ffffff;
    /* color:#292b2c; */
}
.signup-form-panel button:hover{
    /* background-color: #f1f1f1;
    color:rgb(218, 152, 218); */
    /* border:2px solid rgb(218, 152, 218); */
    background-color:#292b2c;
    color:rgb(218, 152, 218);
    cursor:pointer;
    /* text-decoration:underline; */

}
@media only screen  and (max-width:910px){
    .signup-form-panel{       
        width:90%; 
        top:30px;        
    }
  
}
@media only screen  and (max-width:414px){
    .signup-form-container{   
        min-height: 100vh;       
     }
     .signup-form-panel{       
         width:90%; 
         top:30px;        
     }
     .signup-form-group input{
         width:95%;
         height:45px;  
         margin-left:5px;       
     }
   
     .signup-form-panel button{
         width:100%;    
        
        left:0;     
     }
   
}