



.login-err-cont{
      /* border:1px solid black; */
      width:40%;
      margin-left:auto;
      margin-right: auto;
      margin-top:8px;
      /* box-shadow:0 0 5px rgba(117, 116, 116, 0.6); */
      border-radius: 8px;
     
      border:1px solid #ccc;

}
.err-login{
    text-align:center;
    color:red;

}


.login-container{
    display:flex;
    flex-direction:column;
    
    margin:4px;
    background-color:#ffffff;
    padding:4px;
    min-height: 90vh;
      /* border:1px solid black; */

}
.login-panel{
    display:flex;
    flex-direction:column;
    width:40%;
    height:450px;
    margin-left:auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom:40px;
    position:relative;
    box-shadow:0 0 5px rgba(117, 116, 116, 0.6);

}
.login-panel-heading{
    margin:2px;
    /* border:1px solid black; */
    background-color:#ffffff;
    text-align: center;
    color:rgb(218, 152, 218);

}
.login-panel-body{
    margin:2px;
    /* border:1px solid black; */
    display:flex;
    flex-direction:column;
    background-color:#ffffff;
    flex-wrap: wrap;

}

.login-form-group{
    margin-top:15px;
    margin-bottom:30px;
}

.login-form-group input{
    width:65%;
    height:45px;
    /* border-radius: 3px; */
     /* margin-left:auto; */
    margin-left:85px; 
    font-size: 1em;
    font-family: 'acme';
    font-weight: bold;
    /* margin:6px; */
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:2px solid rgb(160, 158, 158);
    /* transition:all 0.3s ease-in-out; */
}
.login-form-group input:focus{
    outline: none;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:2px solid rgb(218, 152, 218);

}
.login-form-group input:hover{
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:2px solid rgb(218, 152, 218);


}
.login-panel button{
    width:70%;
    height: 45px;
    border:0;
    background-color: rgb(218, 152, 218);
    position: relative;
    top:30px;
    left:80px;
    font-size: 1em;
    font-family:'acme';
    font-weight: bold;
    transition:all 0.5s ease-in-out;
    color:#ffffff;
   

}
.login-panel button:hover{
    background-color: #f1f1f1;
    color:rgb(218, 152, 218);
    border:2px solid rgb(218, 152, 218);
    cursor:pointer;
    text-decoration:underline;

}
.signup-link{
    position:relative;
    top:60px;
    text-align:center;
    font-size:0.9em;

}
.signup-link span a{
    text-decoration:none;
    color:rgb(218, 152, 218);
    font-weight: bold;
    
    
}
.signup-link span a:hover{
    text-decoration: underline;
}
.login-forgot-pass{
    width:70%;
    font-size :0.9em;
    color:rgb(218, 152, 218);
    position:relative;
    margin-left: auto;
    margin-right:auto;
    top:15px;
    /* border:1px solid black; */
}
.login-forgot-pass p{
    position: relative;
    text-align:right;
    /* right:80px; */
   
}
.login-forgot-pass p:hover{
   text-decoration: underline;
   cursor:pointer;
   
}

@media only screen  and (max-width:414px){
    .login-container{   
       min-height: 75vh;       
    }
    .login-panel{       
        width:90%; 
        top:30px;        
    }
    .login-form-group input{
        width:95%;
        height:45px;  
        margin-left:5px;       
    }

  
    .login-panel button{
        width:100%;    
        position: relative;      
       left:0;    
    }
    .login-forgot-pass p{      
        text-align:center;      
    }

}