






              /* style for loader starts here */
              .loader-container{

                /* width:80%; */
                /* margin-left:auto;
                margin-right:auto; */
                display:flex;
                border:0;
                justify-content: flex-end;
                position:relative;
                top:0;
                background-color: #ffffff;
                /* display:none; */

              }
              .loader {
                  
                border: 5px solid #f3f3f3;
                border-radius: 50%;
                border-top: 5px solid rgb(218, 152, 218);
                border-bottom: 5px solid rgb(218, 152, 218);
                width: 30px;
                height: 30px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
              }
              
              @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
              }
              
              @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
              }
              /* style for loader ends here */
  